@charset "utf-8";
h1, h2, h3 {
  font-weight: normal;
}

.yu_go {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  font-size: 16px;
}

body {
  max-width: 1360px;
  min-width: 320px;
  font-size: 1.6em;
}

.f16px {
  font-size: 1.6vw;
}

.f18px {
  font-size: 1.8vw;
}
.f24px{
  font-size: 2.4vw;
}
.f26px {
  font-size: 2.6vw;
}
.f32px{
  font-size: 3.2vw;
}
.f42px {
  font-size: 4.2vw;
}

.f45px {
  font-size: 4.5vw;
}

/* メトリクスfont-feature-settings: "palt" 1; */

/* フォントサイズ調整用メディアクエリ */

/* pc用 */

@media screen and (min-width:1000px) {
  .f16px {
    font-size: 16px;
  }
  .f18px {
    font-size: 18px;
  }
  .f24px{
    font-size: 24px;
  }
  .f32px{
    font-size: 32px;
  }
  .f26px {
    font-size: 26px;
  }
  .f42px {
    font-size: 42px;
  }
  .f45px {
    font-size: 45px;
  }
}

/* sp用 */

@media screen and (max-width:400px) {
  #f28px {
    font-size: 24px;
  }
  #f33px {
    font-size: 25px;
  }
  #f20px {
    font-size: 16px;
  }
  #f15px {
    font-size: 13px;
  }
}

/* /フォントサイズ調整用メディアクエリ */

/* header */

@media screen and (max-width:767px) {
  .pcimg {
    display: none;
  }
  .headimg {
    width: 80%;
    margin: 180px auto 0;
  }
  .headh1 {
    width: 90%;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.12em;
    text-align: center;
    margin: 95px auto 0;
    font-feature-settings: "palt" 1;
  }
  .pcbr {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .spimg {
    display: none;
  }
  .headimg {
    width: 80%;
    margin: 0 auto;
  }
  .spbr {
    display: none;
  }
  .headh1 {
    line-height: 2;
    letter-spacing: 0.12em;
    font-feature-settings: "palt" 1;
    text-align: center;
    margin: 80px auto 0;
  }
  .pchead {
    margin-top: 300px;
  }
}

/* /header */

/* section_midasi */

@media screen and (max-width:767px) {
  .section_midasi {
    width: 90%;
    margin: 100px auto 0;
    text-align: center;
  }
  .secp {
    font-size: 15px;
    line-height: 2;
    font-feature-settings: "palt" 1;
    letter-spacing: 0.12em;
    text-align: center;
  }
  .sech1 {
    font-size: 28px;
    letter-spacing: 0.06em;
  }
  .huku {
    width: 50%;
    margin: 0 auto;
  }
  .huku img {
    width: 100%;
  }
}

@media screen and (min-width:768px) {
  body .sp_slide {
    display: none;
  }
  .section_midasi {
    margin: 150px auto 0;
    text-align: center;
  }
  .sech1 {
    font-weight: 300;
    letter-spacing: 0.06em;
    font-feature-settings: "palt" 1;
  }
  .huku {
    width: 30%;
    margin: 0 auto;
  }
  .huku img {
    margin-top: 20px;
    width: 100%;
  }
  .secp {
    letter-spacing: 0.12em;
    line-height: 2;
    font-feature-settings: "palt" 1;
  }
}

/* /section_midasi */

/* section_model */

@media screen and (max-width:767px) {
  body .pc_slide {
    display: none;
  }
  .section_model {
    width: 90%;
    margin: 70px auto 0;
  }
  .modelimg_tall {
    overflow: hidden;
    position: relative;
  }
  .modelimg_tall img {
    margin: 0 auto;
    width: 100%;
  }
  .slidemidasi_tall {
    position: absolute;
    top: 0;
    left: 0;
  }
  .slidemidasi_short {
    position: absolute;
    top: 0;
    right: 0;
  }
  .tallmidasi, .shortmidasi {
    font-size: 33px;
    border-bottom: #000 solid 2px;
  }
  .cm {
    font-size: 20px;
  }
  .slidemidasi_tall .size {
    font-size: 20px;
    text-align: left;
  }
  .slidemidasi_short .size_short {
    font-size: 20px;
    text-align: right;
  }
  .setumei {
    font-size: 15px;
    letter-spacing: 0.12em;
    font-feature-settings: "palt" 1;
    line-height: 2;
  }
  .price {
    margin-top: 20px;
    line-height: 2;
    text-align: left;
    font-size: 15px;
  }
  .price span {
    border-bottom: #000 solid 1px;
    margin-right: 10px;
    font-feature-settings: "palt" 1;
    letter-spacing: 0.08em;
  }
  .modelimg_short {
    overflow: hidden;
    position: relative;
  }
  .modelimg_short img {
    margin: 0 auto;
    width: 100%;
  }
  .short {
    margin-top: 70px;
  }
}

@media screen and (min-width:768px) {
  body {
    margin: 0 auto;
  }
  .section_model {
    width: 80%;
    margin: 100px auto 0;
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
  }
  .tall, .short {
    width: 45%;
  }
  .modelimg_tall, .modelimg_short {
    overflow: hidden;
    position: relative;
  }
  .modelimg_tall img {
    margin: 0 auto;
    width: 100%;
  }
  .modelimg_short img {
    width: 100%;
    margin: 0 auto;
  }
  .modelimg_tall, .modelimg_short {
    position: relative;
  }
  .slidemidasi_tall {
    position: absolute;
    top: 0;
    left: 0;
  }
  .slidemidasi_short {
    position: absolute;
    top: 0;
    right: 0;
  }
  .tallmidasi, .shortmidasi {
    /* font-size: 42px; */
    border-bottom: #000 solid 2px;
  }
  .slidemidasi_tall .size {
    text-align: left;
  }
  .slidemidasi_short .size_short {
    text-align: right;
  }
  .setumei {
    letter-spacing: 0.12em;
    font-feature-settings: "palt" 1;
    line-height: 2;
  }
  .price {
    margin-top: 40px;
    text-align: left;
    line-height: 2;
  }
  .price span {
    border-bottom: #000 solid 1px;
    margin-right: 10px;
  }
}

/* /section_model */

/* ボタン */

@media screen and (max-width:767px) {
  .allitemcheck {
    background-color: #fff;
    margin: 100px auto 0;
    display: block;
    font-weight: 300;
    width: 90%;
    letter-spacing: 0.06em;
    font-feature-settings: "palt" 1;
    font-size: 15px;
    line-height: 3;
  }
  .gotop {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .allitemcheck {
    background-color: #fff;
    margin: 100px auto 0;
    display: block;
    font-weight: 300;
    width: 90%;
    letter-spacing: 0.06em;
    font-feature-settings: "palt" 1;
    line-height: 3;
    cursor: pointer;
  }
  .gotop {
    margin: 135px auto 600px;
    width: 90%;
  }
  .gotopbutton {
    text-align: center;
    color: #000;
    text-decoration: none;
    border: #000 solid 2px;
    margin: 0 auto;
    display: block;
    font-weight: 500;
    letter-spacing: 0.08em;
    font-feature-settings: "palt" 1;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
  }
  .triangle {
    margin-top: -100px;
    border-style: solid;
    border-width: 0 8.5px 15px 8.5px;
    border-color: transparent transparent #000 transparent;
  }
}

/* /ボタン */

/* 調整用 */

@media screen and (max-width:767px) {
  .sp_img08 {
    margin-top: 20px;
  }
  .section2 .secp {
    margin-top: 20px;
  }
  .sp_img16 {
    margin-top: 20px;
  }
  .section4 .secp {
    margin-top: 20px;
  }
  .sp_img21 {
    margin-top: 20px;
  }
  .section5 .secp {
    margin-top: 20px;
  }
  .sp_img26 {
    margin-top: 20px;
  }
  .section6 .secp {
    margin-top: 20px;
  }
  .sp_img31 {
    margin-top: 20px;
  }
  .section7 .secp {
    margin-top: 20px;
  }
}

@media screen and (min-width:768px) {
  .section2 .secp {
    margin-top: 40px;
  }
  .section4 .secp {
    margin-top: 40px;
  }
}

/* /調整用 */