@charset "utf-8";
h1, h2, h3 {
  font-weight: normal;
}

.yu_go {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  max-width: 1360px;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

/* メトリクスfont-feature-settings: "palt" 1; */

/* header */

@media screen and (max-width:767px) {
  .pcimg {
    display: none;
  }
  .headimg {
    width: 80%;
    margin: 180px auto 0;
  }
  .headh1 {
    width: 90%;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.12em;
    text-align: center;
    margin: 95px auto 0;
    font-feature-settings: "palt" 1;
  }
  .pcbr {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .spimg {
    display: none;
  }
  .headimg {
    width: 80%;
    margin: 0 auto;
  }
  .spbr {
    display: none;
  }
  .headh1 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.12em;
    font-feature-settings: "palt" 1;
    text-align: center;
    margin: 80px auto 0;
  }
}

/* /header */

/* section_midasi */

@media screen and (max-width:767px) {
  .section_midasi {
    width: 90%;
    margin: 70px auto 0;
    text-align: center;
  }
  .secp {
    font-size: 15px;
    line-height: 2;
    font-feature-settings: "palt" 1;
    letter-spacing: 0.12em;
    text-align: center;
  }
  .sech1 {
    font-size: 28px;
  }
}

@media screen and (min-width:768px) {
  body .sp_slide {
    display: none;
  }
  .section_midasi {
    margin: 150px auto 0;
    text-align: center;
  }
  .sech1 {
    font-size: 35px;
  }
  .section_midasi img {
    margin-top: 20px;
  }
  .secp {
    font-size: 18px;
    letter-spacing: 0.12em;
  }
}

/* /section_midasi */

/* section_model */

@media screen and (max-width:767px) {
  body .pc_slide {
    display: none;
  }
  .section_model {
    width: 90%;
    margin: 70px auto 0;
  }
  .modelimg_tall {
    overflow: hidden;
    position: relative;
  }
  .modelimg_tall img {
    margin: 0 auto;
    width: 100%;
  }
  .slidemidasi_tall {
    position: absolute;
    width: 120px;
    top: 0;
    left: 0;
  }
  .slidemidasi_short {
    position: absolute;
    width: 135px;
    top: 0;
    right: 0;
  }
  .tallmidasi, .shortmidasi {
    font-size: 33px;
    border-bottom: #000 solid 2px;
  }
  .cm {
    font-size: 20px;
  }
  .slidemidasi_tall .size {
    font-size: 20px;
    text-align: left;
  }
  .slidemidasi_short .size_short {
    font-size: 20px;
    text-align: right;
  }
  .setumei {
    font-size: 15px;
    letter-spacing: 0.12em;
    font-feature-settings: "palt" 1;
    line-height: 2;
  }
  .price {
    margin-top: 20px;
    line-height: 2;
    text-align: left;
  }
  .price span {
    border-bottom: #000 solid 1px;
    font-size: 15px;
    margin-right: 10px;
    font-feature-settings: "palt" 1;
    letter-spacing: 0.08em;
  }
  .modelimg_short {
    overflow: hidden;
    position: relative;
  }
  .modelimg_short img {
    margin: 0 auto;
    width: 100%;
  }
  .short {
    margin-top: 70px;
  }
}

@media screen and (min-width:768px) {
  .section_model {
    width: 80%;
    margin: 100px auto 0;
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
  }
  .tall, .short {
    width: 45%;
  }
  .modelimg_tall, .modelimg_short {
    overflow: hidden;
    position: relative;
  }
  .modelimg_tall img, .modelimg_short img {
    margin: 0 auto;
    width: 100%;
  }
  .modelimg_tall, .modelimg_short {
    position: relative;
  }
  .slidemidasi_tall {
    position: absolute;
    width: 150px;
    top: 0;
    left: 0;
  }
  .slidemidasi_short {
    position: absolute;
    width: 170px;
    top: 0;
    right: 0;
  }
  .tallmidasi,.shortmidasi {
    font-size: 42px;
    border-bottom: #000 solid 2px;
  }
  .cm {
    font-size: 26px;
  }
  .slidemidasi_tall .size {
    font-size: 26px;
    text-align: left;
  }
  .slidemidasi_short .size_short {
    font-size: 20px;
    text-align: right;
  }
  .setumei {
    font-size: 18px;
    letter-spacing: 0, 12em;
    font-feature-settings: "palt" 1;
  }
  .price {
    margin-top: 40px;
    text-align: left;
    line-height: 2;
  }
  .price span {
    border-bottom: #000 solid 1px;
    font-size: 16px;
    margin-right: 10px;
  }
}

/* /section_model */